# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Entornos virtuales
venv/
env/
.env
.venv/
.ENV/

# Archivos de configuración de editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de configuración de pruebas
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Archivos de log
*.log


# Archivos de medios
media/
staticfiles/

# Archivo de configuración de Django
*.pot
*.mo
*.pyc


# Pytest
.cache
*.egg-info/
dist/
build/
*__init__.py

# Otros
*.DS_Store
*.env.*

