{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Auth {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/message.css' %}"/>
</head>
<body class="dark-theme">
  <div class="container">
    <div class="auth-container">
      <div class="card">
        <div class="card-header">
          <h1>{% block heading %}{% endblock %}</h1>
        </div>

        {% include 'partials/message.html' %}

        <div class="card-content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>

  <script src="js/auth.js"></script>
</body>
</html>
