{% load static %}
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> StudyFly </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
  <link rel="stylesheet" href="{% static 'css/message.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/horarios.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body class="dark-theme">

  {% include 'partials/message.html' %}

  {% include 'partials/navigationBar.html' %}

  {% include 'partials/sidebar.html '%}

  <!-- Contenido principal -->
  <main class="main-content">
    {% block content %}

    {% endblock content %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script src="{% static 'js/auth.js' %}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fetch("/planner/api/productividad/")
        .then(response => response.json())
        .then(data => {
          let porcentaje = parseFloat(data.productividad);

          // Validación extra
          if (isNaN(porcentaje) || porcentaje < 0) {
            porcentaje = 0;
          }

          porcentaje = Math.min(porcentaje, 100);

          const header = document.getElementById("header-productividad");
          if (header) {
            header.textContent = porcentaje + "%";
          }
        })
        .catch(error => {
          console.error("Error al cargar productividad:", error);
          const header = document.getElementById("header-productividad");
          if (header) {
            header.textContent = "0%";
          }
        });
    });
  </script>

</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.getElementById('toggle-sidebar');

    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('collapsed');
    });
  });
</script>

</html> 