{% load static %}
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> StudyFly </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'Css/base.css' %}">
  <link rel="stylesheet" href="{% static 'Css/perfil.css' %}">
  <link rel="stylesheet" href="{% static 'css/message.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/horarios.css' %}"/>
  
</head>
<body class="dark-theme">

  {% include 'partials/message.html' %}

  {% include 'partials/navigationBar.html' %}

  {% include 'partials/sidebar.html '%}

  <!-- Contenido principal -->
  <main class="main-content">
    {% block content %}

    {% endblock content %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script src="Js/auth.js"></script>
</body>
</html> 