{% load static %}

<!-- Sidebar -->
  <nav class="sidebar">
    <div class="menu-items">
        <div class="sidebar-header">
            <img src="{% static 'images/logo.png' %}" alt="Logo StudyFly">
        </div>

        <div class="menu-item active">
            <a href="{% url 'core:home' %}">
            <i class="fa-solid fa-grip"></i>
            <span>Dashboard</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'planner:horarios' %}">
                <i class="fa-solid fa-calendar"></i>
                <span>Horarios</span>
            </a>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-list-check"></i>
            <span>Tareas</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Productividad</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-clock"></i>
            <span>Tiempo de Enfoque</span>
        </div>

        <br><br><br><br><br><br><br><br><br>
        <div class="menu-item">
            <a href="{% url 'core:perfil' %}">
                <i class="fa-solid fa-user"></i>
                <span>Perfil </span>
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'core:settings' %}">
                <i class="fa-solid fa-gear"></i>
                <span>Configuración</span>
            </a>
        </div>

        <div class="menu-item"> 
            <a href="{% url 'accounts:logout' %}">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span> Cerrar Sesión</span>
            </a>    
        </div>
    </div>
  </nav>